<header class="header">

	<div class="container blackhead">

		<h1 class="logo">
			<!-- <a title="{{ site.author }}" href="{{ site.baseurl | append: "/" }}">{{ site.author }}</a><span class="black"> | </span><a class="rouge" title="{{ site.author }}" href="{{ site.baseurl | append: "/links.html" }}">links</a> -->
			<a class="black-under" title="{{ site.author }}" href="{{ site.baseurl | append: '/' }}">{{ site.author
				}}</a>
		</h1>
		<br /> <br />
		{% if page.layout == "item" %}
		<a style="padding: 10px;" class="black-under" href="{{ site.baseurl }}/{{page.collection}}.html" class="bigger">
			<i class="arrow left"></i>
		</a>
		{% endif %}

	</div>
</header>