<!-- <header class="header">
	<div class="container">
		<h1 class="logo">
			<a title="{{ site.author }}" href="{{ site.baseurl | append: "/" }}">{{ site.author }}</a>
		</h1>
	</div>
</header> -->

<header class="header">

	<div class="container blackhead">
		{% if page.layout == "post" or page.title == "Links"  or page.title == "Upload"%}
		<a style="padding: 10px;" class="black-under" href="{{ site.baseurl | append: "/" }}" class="bigger">
			<i class="arrow left"></i>
		</a>
		{% endif %}
		<h1 class="logo">
			{% if page.title == "Links"  %}
			<!-- <a title="{{ site.author }}" class="gris" href="{{ site.baseurl | append: "/" }}">{{ site.author }}</a><span class="black"> | </span><a class="rouge" title="{{ site.author }}" href="{{ site.baseurl | append: "/links.html" }}">links</a> -->
			<a class="black-under" title="{{ site.author }}" class="black" href="{{ site.baseurl | append: "/" }}">{{ site.author }}</a><span class="black"> | </span><a class="rouge" title="{{ site.author }}" href="{{ site.baseurl | append: "/links.html" }}">Links</a>
			{% else %}
			<!-- <a title="{{ site.author }}" href="{{ site.baseurl | append: "/" }}">{{ site.author }}</a><span class="black"> | </span><a class="rouge" title="{{ site.author }}" href="{{ site.baseurl | append: "/links.html" }}">links</a> -->
			<a class="black-under" title="{{ site.author }}" href="{{ site.baseurl | append: "/" }}">{{ site.author }}</a><span class="black"> | </span><a class="rouge" title="{{ site.author }}" href="{{ site.baseurl | append: "/links.html" }}">Links</a>
			{% endif %}
		</h1>
                <br/> <br/>
                <h2 style="text-align : center; font-size : small"> This site is under construction <br/> Please do not share publicly</h2>

	</div>
</header>
