<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{ site.author }} / {{ page.project.title }}</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ page.content | strip_html | strip_newlines }}">
	<meta name="keywords" content="{{ page.meta.keywords }}">
	{% include head.html %}
</head>

<body class="black">
	{% include header.html %}
	<main class="content">
		<section class="project">
			<div class="container">
				<article>
					<span class="h2">Title</span>
					<h1>
						{{ page.project.title }}
					</h1>
					<span class="h2">Description</span>

{% assign area = site.data.areas | where: "name", page.collection | first %}

<a href="{{ site.base_url | append: area.name | append: ".html"}}"> {{ area.title }} </a>

<hr>

This is a item layout page - collection: {{ page.collection }} - area name: {{ area.title }}

<hr>

<h1> {{ page.title }} </h1>

{{ content }} 

<hr>



{% assign path = page.path | split: "/" %}
{% assign category = path[-2] %}
{% assign items = site[page.collection] %} 

{% for item in items %}
    {% assign parents = item.url | split: "/" %}
    {% assign parent  = parents[-2] %}

    {% if parent == category %} 

- <a href="{{ item.url }}"> {{ item.title }} </a> <br>

    {% endif %}

{% endfor %}

{% assign i = 0 %}
{% for item in items %}
    {% if item == page %}
        {% assign itemIndex = i %}
    {% endif %}
    {% assign i = i | plus: 1 %}
{% endfor %}

{% assign previousIndex = itemIndex | minus: 1 %}
{% assign nextIndex     = itemIndex | plus:  1 %}

itemIndex: {{ itemIndex }} <br>
Size: {{ items.size }} <br>

previous index: {{ previousIndex }} <br>
previous item:  {{ items[previousIndex].name | inspect }} <br>
next item:      {{ items[nextIndex].name | inspect }} <br>

<hr>

{% assign cats = area.categories %}
other cats in this area: {{ cats | inspect }} <br>
{% assign k = 0 %}
{% for cat in cats %}
    {% if cat.name == category %}
        {% assign catIndex = k %}
    {% endif %}
    {% assign k = k | plus: 1 %}
{% endfor %}

{% assign previousCatIndex = catIndex | minus: 1 %}
{% assign nextCatIndex     = catIndex | plus:  1 %}
catIndex:     {{ catIndex }} <br>
catSize:      {{ cats.size }} <br>
previous cat: {{ cats[previousCatIndex].name }} <br>
next cat:     {{ cats[nextCatIndex].name }} <br>

<hr>

{% if previousIndex < 0 %}

    {% assign lastCat = cats[previousCatIndex].name  %}
    {% assign itemsLastCat = site[page.collection] | where: "category", lastCat %} 
    {% assign lastItem = itemsLastCat | last %}
    previous in previous cat with round: {{ lastItem.name | inspect }} <br>

    {% if previousCatIndex < 0 %}
        
        previous in previous cat: You are on the first item of the first cat <br>
    
    {% else %}
        
        {% assign lastCat = cats[previousCatIndex].name  %}
        {% assign itemsLastCat = site[page.collection] | where: "category", lastCat %} 
        {% assign lastItem = itemsLastCat | last %}
        previous in previous cat: {{ lastItem.name | inspect }} <br>

    {% endif %}

{% else %}

    previous: {{ items[previousIndex].name }} <br>

{% endif %}

{% if nextIndex == items.size  %}

    {% if nextCatIndex == cats.size  %}

        next in next cat: You are on the last item of the last cat <br>

    {% else %}

        {% assign nextCat = cats[nextCatIndex].name  %}
        {% assign itemsNextCat = site[page.collection] | where: "category", nextCat %} 
        {% assign firstItem = itemsNextCat | first %}
        next in next cat: {{ firstItem.name | inspect }} <br>

    {% endif %}

    {% if nextCatIndex == cats.size %}
        {% assign nextCatIndex = 0 %}
    {% endif %}

    {% assign nextCat = cats[nextCatIndex].name  %}
    {% assign itemsNextCat = site[page.collection] | where: "category", nextCat %} 
    {% assign firstItem = itemsNextCat | first %}
    next in next cat with round: {{ firstItem.name | inspect }} <br>

    {{ nextCatIndex }} == {{ cats.size }} <br>

{% else %}

    next: {{ items[nextIndex].name }} <br>

{% endif %}


<hr>
<hr>
<hr>

This is next: {{ page.next.title }} <br>
This is previous: {{ page.previous.title }} <br> <br>

{{ site.charts | inspect }} <br> <br>
{{ area | inspect }} <br> <br>



					<div class="project-meta">

						{% if page.project.author %}
						<span class="h2">Author</span>
						<p>{{ page.project.author }}</p>
						{% endif %}

						{% if page.files %}
						<span class="h2">High Resolution File</span>
						{% for file in page.files %}
						<p class="rouge-first">
							<a class="black-under" href="{{ file.url }}" target="_blank" rel="nofollow">{{ file.title }}</a> <br />
						</p>
						{% endfor %}
						{% endif %}


						<!-- <button class="button-4"> View Fullscreen  </button> -->
						{% if page.project.license %}
						<span class="h2">License</span>
						<p class="rouge-first"><a class="black-under"  href="{{ page.project.license-url }}">{{ page.project.license }}</a>
						</p>
						{% endif %}



						{% if page.code %}
						<span class="h2">Code</span>
						<p class="rouge-first"><a class="black-under" title="{{ page.code.title }}" href="{{ page.code.url }}"
								target="_blank" rel="nofollow">{{ page.code.title }}</a></p>
						{% endif %}

						<!-- {% if page.project.tech %}
							<span class="h2">Technologies</span>
							<p>{{ page.project.tech }}</p>
						{% endif %} -->

						{% if page.project.year %}
						<span class="h2">Tech</span>
						<p>{{ page.project.tech }}</p>
						{% endif %}

						{% if page.project.year %}
						<span class="h2">Year</span>
						<p>{{ page.project.year }}</p>
						{% endif %}

						{% if page.sources %}
						<span class="h2">Sources</span>

						{% for source in page.sources %}
						<p class="rouge-first">
							<a class="black-under" href="{{ source.url }}" target="_blank" rel="nofollow">{{ source.title }}</a>
						</p>
						<p style="margin-left: 1em; ">
							by {{ source.author }} </br> {{ source.license }}
						</p>
						{% endfor %}
						<br />
						{% if page.project.license-comment %}
						<p>{{ page.project.license-comment }}</p>

						{% endif %}
						{% endif %}

					</div>
				</article>
				<aside>
					<ul>
						{% for image in page.images %}
						<li>
							{% if image.map %}
							<!-- <a class="black-under" href="{{ image.map | prepend: site.baseurl }}"> below doesn't need extra pages for map, only one at top level-->
							<div class="img-wrapper-2" style="position: relative; top: 0; left: 0;">
								<a class="black-under" style="position: relative; top: 0; left: 0;" 
								href='/map.html?map-url={{ image.map | prepend: site.baseurl }}&page-url={{ page.url | prepend: site.baseurl }}&zoom-max={{ image.zoom-max }}&zoom-min={{ image.zoom-min }}'>
									<img class="load-hidden" src="{{ image.url | prepend: site.baseurl }}"
										alt="{{ image.alt }}" />
								</a>
								<!--<a class="black-under" style="position: absolute; top: 0; right: 0;" 
								href='/map.html?map-url={{ image.map | prepend: site.baseurl }}&page-url={{ page.url | prepend: site.baseurl }}&zoom-max={{ image.zoom-max }}&zoom-min={{ image.zoom-min }}'>
									<img class="load-hidden" style="width:20px"
										src="{{ '/assets/images/icons/fullscreen.png' | prepend: site.baseurl }}"
										alt="{{ image.alt }}" />
								</a>-->
							</div>
							{% elsif image.link %}
							<div class="img-wrapper-2" style="position: relative; top: 0; left: 0;">
								<a class="black-under" style="position: relative; top: 0; left: 0;" 
								href='{{ image.link }}'>
									<img class="load-hidden" src="{{ image.url | prepend: site.baseurl }}"
										alt="{{ image.alt }}" />
								</a>
								<!--<a class="black-under" style="position: absolute; top: 0; right: 0;" 
								href='{{ image.link }}'>
									<img class="load-hidden" style="width:20px"
										src="{{ '/assets/images/icons/fullscreen.png' | prepend: site.baseurl }}"
										alt="{{ image.alt }}" />
								</a>-->
							</div>
							{% else %}
							<a class="black-under" href="{{ image.url | prepend: site.baseurl }}">
								<img class="load-hidden" src="{{ image.url | prepend: site.baseurl }}"
									alt="{{ image.alt }}" />
							</a>
							{% endif %}
						</li>
						{% endfor %}
					</ul>
				</aside>
			</div>
		</section>
		
		<section class="project-navigation">
			<div class="container">

				{% if page.next.url %}
				<a class="prev" title="Previous {{ page.next.project.title }}" href="{{ page.next.url | prepend: site.baseurl }}">
					<span class="h2">Previous</span>
					<h2>{{ page.next.project.title }}</h2>
				</a>
				{% else %}
				<a class="prev"></a>
				{% endif %}

				{% if page.previous.url %}
				<a title="Next {{ page.previous.project.title }}" href="{{ page.previous.url | prepend: site.baseurl }}" class="next">
					<span class="h2">Next</span>
					<h2>{{ page.previous.project.title }}</h2>
				</a>
				{% else %}
				<a class="black-under" class="next"></a>

				{% endif %}

			</div>
		</section>
	</main>
	{% include footer.html %}
	<script src="{{ " /assets/scripts/vendor/jquery-1.12.4.min.js" | prepend: site.baseurl }}"></script>
	<!-- <script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script> -->
	<script src="{{ " /assets/scripts/vendor/sticky-kit.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ " /assets/scripts/project.js" | prepend: site.baseurl }}"></script>
</body>

</html>