<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{ site.author }} / {{ page.project.title }}</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ page.content | strip_html | strip_newlines }}">
	<meta name="keywords" content="{{ page.meta.keywords }}">
	{% include head.html %}
</head>

<body class="black">
	{% include header.html %}
	<main class="content">
		<section class="project">
			<div class="container">
				<article>
					<span class="h2">Title</span>
					<h1>
						{{ page.project.title }}
					</h1>
					<span class="h2">Description</span>
					{{ page.content }}



					<div class="project-meta">

						{% if page.project.author %}
						<span class="h2">Author</span>
						<p>{{ page.project.author }}</p>
						{% endif %}

						{% if page.files %}
						<span class="h2">High Resolution File</span>
						{% for file in page.files %}
						<p class="rouge-first">
							<a class="black-under" href="{{ file.url }}" target="_blank" rel="nofollow">{{ file.title }}</a> <br />
						</p>
						{% endfor %}
						{% endif %}


						<!-- <button class="button-4"> View Fullscreen  </button> -->
						{% if page.project.license %}
						<span class="h2">License</span>
						<p class="rouge-first"><a class="black-under"  href="{{ page.project.license-url }}">{{ page.project.license }}</a>
						</p>
						{% endif %}



						{% if page.code %}
						<span class="h2">Code</span>
						<p class="rouge-first"><a class="black-under" title="{{ page.code.title }}" href="{{ page.code.url }}"
								target="_blank" rel="nofollow">{{ page.code.title }}</a></p>
						{% endif %}

						<!-- {% if page.project.tech %}
							<span class="h2">Technologies</span>
							<p>{{ page.project.tech }}</p>
						{% endif %} -->

						{% if page.project.year %}
						<span class="h2">Tech</span>
						<p>{{ page.project.tech }}</p>
						{% endif %}

						{% if page.project.year %}
						<span class="h2">Year</span>
						<p>{{ page.project.year }}</p>
						{% endif %}

						{% if page.sources %}
						<span class="h2">Sources</span>

						{% for source in page.sources %}
						<p class="rouge-first">
							<a class="black-under" href="{{ source.url }}" target="_blank" rel="nofollow">{{ source.title }}</a>
						</p>
						<p style="margin-left: 1em; ">
							by {{ source.author }} </br> {{ source.license }}
						</p>
						{% endfor %}
						<br />
						{% if page.project.license-comment %}
						<p>{{ page.project.license-comment }}</p>

						{% endif %}
						{% endif %}

					</div>
				</article>
				<aside>
					<ul>
						{% for image in page.images %}
						<li>
							{% if image.map %}
							<!-- <a class="black-under" href="{{ image.map | prepend: site.baseurl }}"> below doesn't need extra pages for map, only one at top level-->
							<div class="img-wrapper-2" style="position: relative; top: 0; left: 0;">
								<a class="black-under" style="position: relative; top: 0; left: 0;" 
								href='/map.html?map-url={{ image.map | prepend: site.baseurl }}&page-url={{ page.url | prepend: site.baseurl }}&zoom-max={{ image.zoom-max }}&zoom-min={{ image.zoom-min }}'>
									<img class="load-hidden" src="{{ image.url | prepend: site.baseurl }}"
										alt="{{ image.alt }}" />
								</a>
								<!--<a class="black-under" style="position: absolute; top: 0; right: 0;" 
								href='/map.html?map-url={{ image.map | prepend: site.baseurl }}&page-url={{ page.url | prepend: site.baseurl }}&zoom-max={{ image.zoom-max }}&zoom-min={{ image.zoom-min }}'>
									<img class="load-hidden" style="width:20px"
										src="{{ '/assets/images/icons/fullscreen.png' | prepend: site.baseurl }}"
										alt="{{ image.alt }}" />
								</a>-->
							</div>
							{% elsif image.link %}
							<div class="img-wrapper-2" style="position: relative; top: 0; left: 0;">
								<a class="black-under" style="position: relative; top: 0; left: 0;" 
								href='{{ image.link }}'>
									<img class="load-hidden" src="{{ image.url | prepend: site.baseurl }}"
										alt="{{ image.alt }}" />
								</a>
								<!--<a class="black-under" style="position: absolute; top: 0; right: 0;" 
								href='{{ image.link }}'>
									<img class="load-hidden" style="width:20px"
										src="{{ '/assets/images/icons/fullscreen.png' | prepend: site.baseurl }}"
										alt="{{ image.alt }}" />
								</a>-->
							</div>
							{% else %}
							<a class="black-under" href="{{ image.url | prepend: site.baseurl }}">
								<img class="load-hidden" src="{{ image.url | prepend: site.baseurl }}"
									alt="{{ image.alt }}" />
							</a>
							{% endif %}
						</li>
						{% endfor %}
					</ul>
				</aside>
			</div>
		</section>
		
		<section class="project-navigation">
			<div class="container">

				{% if page.next.url %}
				<a class="prev" title="Previous {{ page.next.project.title }}" href="{{ page.next.url | prepend: site.baseurl }}">
					<span class="h2">Previous</span>
					<h2>{{ page.next.project.title }}</h2>
				</a>
				{% else %}
				<a class="prev"></a>
				{% endif %}

				{% if page.previous.url %}
				<a title="Next {{ page.previous.project.title }}" href="{{ page.previous.url | prepend: site.baseurl }}" class="next">
					<span class="h2">Next</span>
					<h2>{{ page.previous.project.title }}</h2>
				</a>
				{% else %}
				<a class="black-under" class="next"></a>

				{% endif %}

			</div>
		</section>
	</main>
	{% include footer.html %}
	<script src="{{ " /assets/scripts/vendor/jquery-1.12.4.min.js" | prepend: site.baseurl }}"></script>
	<!-- <script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script> -->
	<script src="{{ " /assets/scripts/vendor/sticky-kit.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ " /assets/scripts/project.js" | prepend: site.baseurl }}"></script>
</body>

</html>