{% assign collection = include.collection %}
{% assign cats = "" | split: ""  %}
{% assign chartPaths = site[collection] | where: "layout", "chart" | map: "url" %}
    {% for item in chartPaths %}
        {% assign splitUrl = item | split: "/" %}
        {% assign cats = cats | push: splitUrl[2] %}
    {% endfor %}
{% assign cats = cats | uniq %}
categories extracted from folder structure: {{ cats | inspect }} 

{% for category in cats %}
In the {{ category }}, there is :
    {% assign items = site[collection] | where: "layout", "chart" %}
    {% for item in items %}
        {%- assign parents = item.url | split: "/" -%} 
        {%- if parents[2] == category -%}
            {{ item.title }} : {{ item.url }}
	    {% assign array = item.title | split: " "  %}
	    {% assign array2 = "" | split: ""  %}
	    {% for s in array %}
	    	{% assign s = s | capitalize %} 
		{% assign array2 = array2 | push: s  %}
	    {% endfor %}
	    {{ array2 | join: " " }}
        {% endif %}
    {% endfor %}
{% endfor %}
